* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------------------------------------------------------------------------------------------------------------------- */

:root {
  --box_shadow_btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --page_size: 1440px;
  --content_size: 1200px;
  --color_burgundy: #ec5136;
  --color_yellow: #fadd34;
  --color_blue: #4dd7c3;
  --color_deep_blue: #0026f6;
  --color_text_dark: #50595b;
  --color_text_light: #ffffff;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.content {
  max-width: 1420px;
  height: 100%;
  /* background-color: #50595b; */
  position: relative;
  margin: 0 auto;
}
.background_shapes {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.d1 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 200px solid var(--color_yellow);
  position: absolute;
  left: -500px;
  top: -85px;
  opacity: 80%;
}
.d4 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 150px solid var(--color_yellow);
  position: absolute;
  opacity: 80%;
  right: -250px;
  bottom: 0px;
}
.d2 {
  width: 310px;
  height: 155px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  overflow: hidden;
  background: var(--color_burgundy);
  position: absolute;
  left: 85px;
  top: 10px;
  opacity: 80%;
}
.d3 {
  width: 300px;
  border-radius: 500em 500em 0 0;
  background: var(--color_blue);
  position: absolute;
  left: 100px;
  top: 310px;
  padding-bottom: 30px;
}

.avatar {
  width: 250px;
  height: 250px;
  background: #f1b4c6;
  border-radius: 50%;
  position: absolute;
  left: 115px;
  top: 40px;
  overflow: hidden;
}
.header {
  padding-left: 500px;
}
.name {
  color: var(--color_burgundy);
  font-size: 36px;
  font-weight: 900;
  word-spacing: 15px;
  margin: 0 0 10px 0;
  padding-top: 35px;
}
.position {
  color: var(--color_text_dark);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.skills {
  color: var(--color_text_dark);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.main {
  margin-left: 500px;
  position: absolute;
}
.main_content_block {
  margin-top: 40px;
}
.main_content_block_head {
  color: var(--color_burgundy);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  word-spacing: 10px;
}
.marker {
  color: var(--color_burgundy);
}
.course,
.institution,
.job,
.job_position,
.certificate {
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--color_text_dark);
  font-weight: 400;
}
.partition {
  border-left: 2px solid var(--color_text_dark);
  margin: 0 10px;
  height: 17px;
}
.course_name,
.course_years,
.course_community,
.institution_name,
.institution_years,
.job_name,
.job_years {
  padding-top: 1px;
  /* color: var(--color_text_dark); */
}
.course_name,
.institution_name,
.job_name {
  font-weight: 500;
  padding: 0 5px;
}
.job_block,
.course_block {
  margin-bottom: 20px;
}
.job,
.course {
  margin-bottom: 5px;
}
.contacts_head,
.languages_head,
.hobbies_head {
  color: var(--color_yellow);
  /* color: var(--color_deep_blue); */
  /* color: var(--color_burgundy); */
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 50px 0 20px 0;
  word-spacing: 10px;
}
.contact,
.language,
.hobby {
  color: var(--color_text_light);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  margin-left: 25px;
}
.contact_text,
.language_text,
.hobby_text {
  padding-left: 5px;
  padding-right: 5px;
}
.marker_contact,
.marker_language,
.marker_hobby {
  color: var(--color_yellow);
  /* color: var(--color_burgundy); */
}
.languages_head,
.hobbies_head {
  margin-top: 30px;
}
.avatar_foto {
  width: 100%;
}
.certificate,
.job_position {
  margin-left: 13px;
}
